<div class="additional-equipment clear-gap">
    <div class="additional-equipment__title">
        <h4>Дополнительное оборудование</h4>

        <div class="additional-equipment__select">
            <select name="" id="" class="js_additional-equipment">
                <option value="1">Название оборудования</option>
                <option value="2">Название оборудования 2</option>
                <option value="3">Название оборудования 3</option>
            </select>
        </div>
    </div>

    <div class="additional-equipment__inner">
        <div class="additional-equipment__item">
            <a href="" class="additional-equipment__lnk">
                <div class="additional-equipment__img">
                    <img src="assets/images/remove/advanced-eqiupment.jpg" alt="">
                </div>
                <div class="additional-equipment__name">
                    Регулятор давления в две строки
                </div>
            </a>
        </div>

        <div class="additional-equipment__item">
            <a href="" class="additional-equipment__lnk">
                <div class="additional-equipment__img">
                    <img src="assets/images/remove/advanced-eqiupment.jpg" alt="">
                </div>
                <div class="additional-equipment__name">
                    Регулятор давления
                </div>
            </a>
        </div>

        <div class="additional-equipment__item">
            <a href="" class="additional-equipment__lnk">
                <div class="additional-equipment__img">
                    <img src="assets/images/remove/advanced-eqiupment.jpg" alt="">
                </div>
                <div class="additional-equipment__name">
                    Регулятор давления
                </div>
            </a>
        </div>

        <div class="additional-equipment__item">
            <a href="" class="additional-equipment__lnk">
                <div class="additional-equipment__img">
                    <img src="assets/images/remove/advanced-eqiupment.jpg" alt="">
                </div>
                <div class="additional-equipment__name">
                    Регулятор давления
                </div>
            </a>
        </div>
    </div>

</div>