<!-- боковая навигация -->
<aside class="aside">
    <div class="aside__logo-wrap">
        <a href="/">
            <img src="assets/images/logo.png" alt="АТГ" title="АТГ">
        </a>
    </div>
    <ul class="aside-nav">
        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img
                                src="assets/images/nav-icons/gas-pipe.svg"
                                alt=""
                                class="js-svg"
                                data-src-hover="assets/images/nav-icons/gas-pipe-hover.svg">
                    </span>
                <span class="aside-nav__txt">Каталог продукции</span>
            </a>

            <!-- вложенное меню -->
            <ul>
                <li><a href="">Газовое оборудование</a></li>
                <li><a href="">Канализационное оборудование</a></li>
                <li><a href="">Газгольдеры</a></li>
                <li><a href="">Газоболонная установка GOK</a></li>
                <li><a href="">Резервное энергообеспечение</a>

                    <!-- вложенное меню -->
                    <ul>
                        <li><a href="">Регуляторы давления</a></li>
                        <li><a href="">Запорно-предохранительная арматура</a></li>
                        <li><a href="">Баллоны</a></li>
                        <li><a href="">Счётчики</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img src="assets/images/nav-icons/engineer.svg"
                             alt=""
                             class="js-svg"
                             data-src-hover="assets/images/nav-icons/engineer-hover.svg">
                    </span>
                <span class="aside-nav__txt">Услуги</span>
            </a>
        </li>
        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img src="assets/images/nav-icons/gas-station.svg"
                             alt=""
                             class="js-svg"
                             data-src-hover="assets/images/nav-icons/gas-station-hover.svg">
                    </span>
                <span class="aside-nav__txt">Сеть АГЗС</span>
            </a>
        </li>
        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img src="assets/images/nav-icons/tools.svg"
                             alt=""
                             class="js-svg"
                             data-src-hover="assets/images/nav-icons/tools-hover.svg">
                    </span>
                <span class="aside-nav__txt">Сервис</span>
            </a>
        </li>
        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img src="assets/images/nav-icons/light-bulb.svg"
                             alt=""
                             class="js-svg"
                             data-src-hover="assets/images/nav-icons/light-bulb-hover.svg">
                    </span>
                <span class="aside-nav__txt">Полезная информация</span>
            </a>

            <ul>
                <li><a href="">Полезная информация 1.1</a></li>
                <li><a href="">Полезная информация 1.1</a></li>
                <li><a href="">Полезная информация 1.1</a></li>
                <li><a href="">Полезная информация 1.1</a></li>
                <li><a href="">Полезная информация 1.1</a>

                    <!-- вложенное меню -->
                    <ul>
                        <li><a href="">Полезная информация 1.2</a></li>
                        <li><a href="">Полезная информация 1.2</a></li>
                        <li><a href="">Полезная информация 1.2</a>
                            <ul>
                                <li><a href="">Полезная информация 1.3</a></li>
                                <li><a href="">Полезная информация 1.3</a></li>
                                <li><a href="">Полезная информация 1.3</a></li>
                                <li><a href="">Полезная информация 1.3</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="">Полезная информация 1.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="aside-nav__link">
                    <span class="aside-nav__ico">
                        <img src="assets/images/nav-icons/navigation.svg"
                             alt=""
                             class="js-svg"
                             data-src-hover="assets/images/nav-icons/navigation-hover.svg">
                    </span>
                <span class="aside-nav__txt">Контакты</span>
            </a>
        </li>
    </ul>
    <div class="aside-callback">
        <a href="#" class="aside-callback__link">
            <img src="assets/images/phone-call.svg" alt="">
            <span class="aside-callback__txt">
                Обратная связь
            </span>
        </a>
    </div>
</aside>
