<form name="filter" action="" METHOD="post" class="filter-section">
    <!---->
    <div class="filter-section__item">
        <div class="filter-section__title">
            <span>Количество баллонов:</span>

            <div class="fyi">
                <img src="assets/images/fyi.svg" alt="">
                <div class="fyi__tooltip">
                    Описание… Описание… Описание… Описание…Описание…
                    Описание…Описание… Описание…
                </div>
            </div>
        </div>
        <select class="js-example-basic-multiple" name="SDF" multiple="multiple">
            <option disabled>Выберите параметры</option>
            <option value="2">2 шт</option>
            <option value="4">4 шт</option>
            <option value="6">6 шт</option>
            <option value="8">8 шт</option>
        </select>
    </div>

    <!---->
    <div class="filter-section__item">
        <div class="filter-section__title">
            <span>Тип подводки:</span>

            <div class="fyi">
                <img src="assets/images/fyi.svg" alt="">
                <div class="fyi__tooltip">
                    Описание… Описание… Описание… Описание…Описание…
                    Описание…Описание… Описание…
                </div>
            </div>
        </div>
        <select class="js-example-basic-multiple" name="SDF2" multiple="multiple">
            <option disabled>Выберите параметры</option>
            <option value="2">Гибкая</option>
            <option value="4">Металлическая рампа</option>
            <option value="6">8 шт</option>
            <option value="8">10 шт</option>
        </select>
    </div>

    <!---->
    <div class="filter-section__item">
        <div class="filter-section__title">
            <span>Давление:</span>

            <div class="fyi">
                <img src="assets/images/fyi.svg" alt="">
                <div class="fyi__tooltip">
                    Описание… Описание… Описание… Описание…Описание…
                    Описание…Описание… Описание…
                </div>
            </div>
        </div>
        <select class="js-example-basic-multiple" name="" multiple="multiple">
            <option disabled>Выберите параметры</option>
            <option value="2">29 мБр</option>
            <option value="4">37 мБр</option>
            <option value="6">6 шт</option>
            <option value="8">50 мБр</option>
        </select>
    </div>

    <!---->
    <div class="filter-section__item">
        <div class="filter-section__title">
            <span>Количество баллонов:</span>

            <div class="fyi">
                <img src="assets/images/fyi.svg" alt="">
                <div class="fyi__tooltip">
                    Описание… Описание… Описание… Описание…Описание…
                    Описание…Описание… Описание…
                </div>
            </div>
        </div>
        <select class="js-example-basic-multiple" name="" multiple="multiple">
            <option disabled>Выберите параметры</option>
            <option value="2">2 шт</option>
            <option value="4">4 шт</option>
            <option value="6">6 шт</option>
            <option value="8">8 шт</option>
        </select>
    </div>

    <!---->
    <div class="filter-section__item">
        <div class="filter-section__title">
            <span>Тип клапана:</span>

            <div class="fyi">
                <img src="assets/images/fyi.svg" alt="">
                <div class="fyi__tooltip">
                    Описание… Описание… Описание… Описание…Описание…
                    Описание…Описание… Описание…
                </div>
            </div>
        </div>
        <select class="js-example-basic-multiple" name="" multiple="multiple">
            <option disabled>Выберите параметры</option>
            <option value="2">механический</option>
            <option value="4">механический</option>
            <option value="6">механический</option>
        </select>
    </div>
</form>
