<!-- - - - - - - - - - header-index - - - - - - - - - -->
<div class="header header-index container">
    <div class="index-title">
        <h1>Компания ООО &laquo;АТГ&raquo;</h1>
        <div class="header-index-title__slogan">
            Мы являемся самой крупной организацией по доставке газа
        </div>
    </div>
    <div class="contacts-schedule ">
        <div class="contacts-schedule__phone">+7 (812) 666-6-707</div>
        <div class="contacts-schedule__schedule">
            работаем: Пн-Пт, с 8:00 до 19:00
        </div>
        <a href="#feedback" class="btn  js-modal">
            Обратный звонок
        </a>
    </div>
</div>
