<div class="header-mobile">
    <div class="mobile-nav-btn"></div>

    <div class="phones-dropdown">
        <a href="tel:+78126666707" class="phones-dropdown__title">+7 (812) 666-67-07</a>
        <span class="phones-dropdown__info">Пн-Пт, с 8:00 до 19:00</span>
        <div class="phones-dropdown__inner">
            <a href="tel:+78126666707">+7 (812) 666-67-07</a>

            <div class="phones-dropdown__schedule">
                <span>Часы работы:</span>
                Пн-Пт; с 8:00 до 19:00
            </div>

            <a href="#feedback" class="btn  js-modal">Заказать звонок</a>
        </div>
    </div>
</div>