<div class="header-inner container">
    <a href="/" class="back-index">Главная</a>

    <h1>Каталог продукции</h1>

    <div class="phones-dropdown">
        <a href="tel:+78126666707" class="phones-dropdown__title">+7 (812) 666-67-07</a>
        <div class="phones-dropdown__inner">
            <a href="tel:+78126666707">+7 (812) 666-67-07</a>

            <div class="phones-dropdown__schedule">
                <span>Часы работы:</span>
                Пн-Пт; с 8:00 до 19:00
            </div>

            <a href="#feedback" class="btn  js-modal">Заказать звонок</a>
        </div>
    </div>
</div>