<div class="map-wrap">
    <div id="map"></div>
    <div class="map-filter">
        <div class="map-filter__header">
            Сервис
        </div>
        <label>
            <input type="checkbox">Оплата картой
        </label>
        <label>
            <input type="checkbox">Магазин
        </label>
        <label>
            <input type="checkbox">Подкачка колес
        </label>
        <label>
            <input type="checkbox">Пылесос
        </label>
        <label>
            <input type="checkbox">Туалет
        </label>
        <div class="map-filter__footer">
            очистить
        </div>
    </div>
</div>

<div class="map-filter-result"></div>
