<div id="toUp"></div>

<!-- - - - - - - - - - popups - - - - - - - - - -->
<!-- обратный звонок -->
<div id="feedback" class="popup">
    <h2>Отправка сообщения</h2>
    <form name="feedback" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text"
                           class="field error js-phone-mask"
                           autocomplete="off"
                           placeholder=""
                           name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <input type="submit" value="Заказать звонок" class="btn btn-submit">
    </form>
</div>

<!-- отзыв -->
<div id="review" class="popup">
    <h2>Оставить отзыв</h2>
    <form name="review" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Email для ответа</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <textarea class="field custom-textarea" placeholder=""></textarea>

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->
            </span>
                <span class="custom-placeholder textarea-custom-placeholder">Введите ваш отзыв...</span>
            </label>
        </div>

        <input type="submit" value="Заказать звонок" class="btn btn-submit">
    </form>
</div>

<!-- заказ монтаж и обслуживание -->
<div id="mounting" class="popup">
    <h2>Заявка на <br> монтаж и обслуживание</h2>
    <form name="mounting" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш адрес</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!---->
<div id="online-order" class="popup">
    <h2>Заявка на монтаж и обслуживание</h2>
    <form name="online-order" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label">
            <span class="block small-block">
                <input type="text" autocomplete="off" class="field js-only-digits" placeholder="" name="value">
                <span class="small-block__title">Количество</span>

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">ФИО</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Email</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!-- Заявка на доставку газа -->
<div id="shipment-order" class="popup">
    <h2>Заявка на доставку газа</h2>
    <form name="shipment-order" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Адрес доставки газа</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!-- Заявка на газификацию -->
<div id="gasification-order" class="popup">
    <h2>Заявка на газификацию</h2>
    <form name="shipment-order" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Адрес установки газификации</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!-- Заявка на установку канализации -->
<div id="sewerages-order" class="popup">
    <h2>Заявка на установку канализации</h2>
    <form name="shipment-order" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Адрес установки канализации</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label field_short">
                Кол-во человек<br>
                проживающих в доме
                <span class="block">
                    <input type="text" autocomplete="off" class="field" placeholder="" name="peoples">

                    <!--тултип для обязательных полей-->
                        <span class="tooltip field__tooltip">
                            <img src="assets/images/error-icon.svg" alt="">
                            <span class="tooltip__description">
                                Необходимо заполнить поле
                            </span>
                        </span>
                    <!--/-->

                </span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!-- заявка на установку котельной -->
<div id="mounting-steamshop" class="popup">
    <h2>Заявка на <br> установку котельной</h2>
    <form name="mounting" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Адрес установки котельной</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

<!-- Заявка на газификацию -->
<div id="power-source-order" class="popup">
    <h2>заявка на установку <br> источника электроэнергии</h2>
    <form name="shipment-order" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="name">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
                <span class="block">
                    <input type="text" class="field js-phone-mask error" autocomplete="off" placeholder="" name="phone">

                    <!--тултип для обязательных полей, чтобы появился,
                     на input добавить класс error-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                    <!--/-->

                </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="email">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Ваш email</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" autocomplete="off" class="field" placeholder="" name="address">

                <!--тултип для обязательных полей-->
                    <span class="tooltip field__tooltip">
                        <img src="assets/images/error-icon.svg" alt="">
                        <span class="tooltip__description">
                            Необходимо заполнить поле
                        </span>
                    </span>
                <!--/-->

            </span>
                <span class="custom-placeholder">Адрес установки источника электроэнерг...</span>
            </label>
        </div>

        <input type="submit" value="Отправить заявку" class="btn btn-submit">
    </form>
</div>

