<!-- - - - - - - - - - popups - - - - - - - - - -->
<div id="feedback" class="popup">
    <h2>Отправка сообщения</h2>
    <form name="feedback" action="#" method="post">

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" class="field" placeholder="" name = "name">
            </span>
                <span class="custom-placeholder">Ваше имя</span>
            </label>
        </div>

        <div class="field__wrap">
            <label class="field__label custom-placeholder-wrap">
            <span class="block">
                <input type="text" class="field" placeholder="" name = "phone">
            </span>
                <span class="custom-placeholder">Телефон для связи</span>
            </label>
        </div>

        <input type="submit" value="Заказать звонок" class="btn btn-submit">
    </form>
</div>
