<div class="useful-information container">
    <div class="useful-information__title">
        <h2>Полезная информация</h2>

        <a href="#" class="btn-transparent useful-information__btn">
            Вся информация
        </a>
    </div>

    <div class="useful-information-wrap">
        <!---->
        <div class="useful-information__item">
            <div class="useful-information__img">
                <img src="assets/images/remove/useful-information.jpg" alt="">
            </div>
            <div class="useful-information__item-inner">
                <div class="useful-information__item-title">
                    Мобильное приложение – покупай
                    получай балы
                </div>
                <div class="useful-information__item-txt">
                    Специализированная система снабжения газом различного
                    оборудования длинное предложение в три строки предложение
                    в три строки
                </div>
                <a href="#" class="btn-bottom-border">Подробнее</a>
            </div>
        </div>

        <!---->
        <div class="useful-information__item">
            <div class="useful-information__img">
                <img src="assets/images/remove/useful-information.jpg" alt="">
            </div>
            <div class="useful-information__item-inner">
                <div class="useful-information__item-title">
                    Мобильное приложение
                </div>
                <div class="useful-information__item-txt">
                    Специализированная система снабжения газом различного
                    оборудования.
                </div>
                <a href="#" class="btn-bottom-border">Подробнее</a>
            </div>
        </div>
    </div>
</div>