/************************* plugins *************************/
@import "plugins/reset.less";
@import "plugins/jquery.fancybox.less";
@import "plugins/slick.less";
@import "plugins/slick-theme.less";
@import "plugins/slick-theme.less";
@import "plugins/jquery.jscrollpane.less";
@import "plugins/inputmask.less";
@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "global.less";

/************************* bread-crumbs *************************/
//.breadcrumbs {
//}
//
//.breadcrumbs__list {
//  float: left;
//}
//
//.breadcrumbs__item {
//  float: left;
//  position: relative;
//}
//
//.breadcrumbs__item:last-child {
//  margin-right: 0;
//}
//
//.breadcrumbs__item::after {
//  content: '';
//  position: absolute;
//}
//
//.breadcrumbs__item:last-child::after {
//  display: none;
//}
//
//.breadcrumbs__link {
//  display: inline-block;
//}
//
//.breadcrumbs__link:hover {
//}
//
//.active .breadcrumbs__link {
//
//}

/* - - - - - - - - - - - - pagination - - - - - - - - - - - - */
//.pagination {
//  font-size: 0;
//}
//
//.pagination-list-el {
//  font-size: 1rem;
//}
//
//.pagination-list-el, .pagination-list {
//  display: inline-block;
//}
//
//.pagination-list-el__dotted span {
//  position: relative;
//}
//
//.pagination-wrap {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.prev-pagination, .next-pagination {
//  text-align: center;
//  position: relative;
//
//}
//
//.next-pagination {
//}
//
//.prev-pagination {
//}
//
//.prev-pagination::before {
//  content: '';
//  position: absolute;
//}
//
//.next-pagination::before {
//  content: '';
//  position: absolute;
//}
//
//.pagination-list a {
//  display: inline-block;
//  text-align: center;
//}
//
//.pagination-list a:hover, .prev-pagination:hover, .next-pagination:hover {
//}
//
//.pagination-list .pagination-list-el__dotted:hover {
//}
//
//.pagination-list-el.active a {
//}

/* - - - - - - - - - - - - tooltip - - - - - - - - - - - - */
.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip:hover .tooltip__description {
  display: block;
}

.tooltip__description {
  position: absolute;
  line-height: normal;
  left: 25px;
  top: 0;
  background: #ffffff;
  padding: 9px 11px 7px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  width: 109px;
  margin-top: -16px;
  color: #3C4858;
  font-size: 10px;
  display: none;

  &:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent #fff transparent transparent;
    left: -9px;
    top: 50%;
    margin-top: -9px;
  }
}

.field.error + .field__tooltip {
  display: inline-block;
}

.field__tooltip {
  position: fixed;
  right: -1px;
  margin-top: -25px;
  display: none;
  line-height: 0;
}

.field__tooltip {

}

/* - - - - - - - - - - - - custom-placeholder - - - - - - - - - - - - */
.field__wrap {
  display: block;
  margin-bottom: 22px;
}

.field__label {
  display: block;
  position: relative;
  cursor: pointer;
}

.block {
  display: block;
}

.field {
  display: block;
  background: #fff;
  padding: 12px;
  color: #000;
  width: 100%;
  border-radius: @border-radius;
  border: 1px solid #CCD3DB;
  font-size: 14px;
}

.custom-textarea {
  resize: none;
  height: 130px;
}

.custom-textarea + .field__tooltip {
  margin-top: -71px;
}

.field:focus {
  border-color: @btn-bg;
}

.field.error {
  border-color: #DE3535;
}

.custom-placeholder-active .custom-placeholder {
  color: #656565;
  font-size: .625rem;
  height: .625rem;
  top: -20px;
}

.custom-placeholder-active .field {
  padding: 20px 12px 4px;
}

.custom-placeholder {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 12px;
  height: 1rem;
  background-color: transparent;
  transition: all .3s ease;
  color: #8F9CAE;
  font-size: 0.875rem;
}

.custom-placeholder-active .textarea-custom-placeholder {
  top: 8px
}

.textarea-custom-placeholder {
  top: 17px;
  bottom: auto;
}

/* - - - - - - - - - - - - aside - - - - - - - - - - - - */
.aside {
  width: 280px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  url('../images/nav-bg-fire.png') 50% 100% no-repeat;
  position: fixed;
  background-size: cover;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  font-weight: 500;
  z-index: 500;
}

.aside__logo-wrap {
  text-align: center;
  height: 144px;
  vertical-align: middle;
  padding: 0 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.aside-nav {
  flex-grow: 1;

  ul {
    position: fixed;
    top: -1px;
    bottom: 0;
    width: 280px;
    background: #fff;
    font-size: 14px;
    //border-right: 1px solid #E0E6ED;
    box-shadow: 0px 0 1px #E0E6ED;

    .js-aside-nav__dropdown > a {
      background: url("../images/arrows/aside-nav-arrow-right.svg") right 20px top 50% no-repeat;

      &:hover {
        background-image: url("../images/arrows/aside-nav-arrow-right-hover.svg");
      }
    }

    li {
      border-color: #E0E6ED;

      &:first-of-type {
        height: 145px;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        color: @dark-text;
        border-top: none;
        line-height: normal;
        padding: 18px 20px;
        display: flex;
        align-items: flex-end;
      }

      &:last-of-type {
        border-color: #E0E6ED;
      }
    }

    a {
      margin-right: -1px;
      color: @dark-text;
      text-transform: none;
      font-weight: normal;
      padding-right: 38px;
      font-size: 0.835rem;

      &:hover {
        background-color: #2597E9;;
        color: #fff;
      }
    }
  }

  li {
    line-height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    user-select: none;
    list-style: none;

    > ul {
      display: none;
    }

    &:hover {
      > ul {
        display: block;
      }
    }

    &:last-of-type {
      //border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }

  a {
    display: flex;
    min-height: 55px;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      background-color: #fff;
      color: #197AE3;
    }
  }

  .jspHorizontalBar {
    display: none;
  }
}

.aside-nav__ico {
  text-align: center;
  width: 28px;
  margin-right: 15px;
  flex: none;
  display: inline-block;
}

.aside-nav__txt {
  display: inline-block;
}

.aside-callback {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-transform: uppercase;
  transition: @transition;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.aside-callback__link {
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-callback img {
  flex: none;
  margin-right: 6px;
}

.aside-callback__txt {
  display: inline-block;
  font-weight: 500;
}

.js-aside-nav__title {
  height: 144px;
}

.aside-feedback {
  width: 314px;
  position: fixed;
  overflow-x: visible;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  font-size: 0.875rem;
  z-index: 600;
  color: @dark-text;
  left: -320px;
  //left: 0;
  transition: left @transition linear;

  &.js-active {
    left: 0;
  }

  .jspVerticalBar {
    z-index: 0;
  }
}

.aside-feedback__content {
  width: 280px;
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-feedback__close {
  left: 280px;
  position: absolute;
  border-top-right-radius: 0;
}

.aside-feedback__top {
  height: ~"calc(100vh - 138px)";
}

.aside-feedback__top-inner {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside-feedback__field {
  margin-bottom: 16px;
}

.aside-feedback__field-title {
  margin-bottom: 8px;
  color: #8F9CAE;
}

.aside-feedback__field-txt {
  font-weight: 500;
  line-height: normal;
  font-size: 0.8125rem;
  color: @dark-text;
}

.aside-feedback__btn {
  padding: 5px 6px;
  min-height: 38px;
  //display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #E0E6ED;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #197AE3;
  //position: relative;
  transition: @transition;
  background-repeat: no-repeat;

  &.callback::before {
    background-image: url("../images/phone-call-feedback.svg");
  }

  &.review::before {
    background-image: url("../images/chat.svg");
  }

  &:hover {
    color: @btn-bg-hover;
  }

  &::before {
    //position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    margin-right: 6px;
  }
}

.aside-feedback__dev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-top: 1px solid #E0E6ED;
  font-size: 0.6875rem;
  color: #8F9CAE;

  img {
    margin-left: 8px;
  }
}



/* - - - - - - - - - - - - index-page - - - - - - - - - - - - */
.index-content {
  background: url('../images/index-bg.jpg') 0 100% no-repeat;
  min-height: 100vh;
  background-size: cover;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.index-content:before {
  .absolute-stretch;
  background: rgba(0, 0, 0, 0.1);
}

.index-main {
  height: 56.5149vh;
  opacity: .99;
  display: flex;
  min-height: 280px;
}

.header-index {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 16px;
  opacity: .99;
}

.index-title {
  flex-grow: 1;
}

.index-title h1 {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.header-index-title__slogan {
  font-size: 1.125rem;
  font-weight: 500;
}

/* - - - - - - - - - - - - contacts-schedule - - - - - - - - - - - - */
.contacts-schedule {
  white-space: nowrap;
}

.contacts-schedule__phone {
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.contacts-schedule__schedule {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 7px;
  letter-spacing: 0.01rem;
}

/* - - - - - - - - - - - - nav-index - - - - - - - - - - - - */
.nav-index {
  width: 51.2295%;
  display: flex;
  flex-wrap: wrap;
}

.nav-index__item {
  background: rgba(2, 2, 2, 0.75);
  border-radius: @border-radius;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-grow: 1;
  width: 48%;
  width: ~"calc((50% - 20px) - 1px)";
  padding: 10px;
  user-select: none;
}

.nav-index__title {
  text-align: center;
}

.nav-index__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8125rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-index__link:hover {
  color: #1C98F4;;
}

.nav-index__img {
  margin-bottom: 25px;
}

/* - - - - - - - - - - - - index-slider - - - - - - - - - - - - */
.index-slider {
  overflow: hidden;
  height: 100%;
  display: flex;

  .slick-list {
    margin-left: -10px;
  }

  .slick-track {
    height: 100%;
  }
}

.index-slider-wrap {
  width: 48.7705%;
  flex: none;
  background: rgba(2, 2, 2, 0.75);
  border-radius: @border-radius;
  height: 98%;
  height: ~"calc((100% - 20px) - 1px)";
  margin-top: 10px;
  padding: 25px;
}

.slick-slide.index-slider__item {
  opacity: 0;
  padding: 25px 31px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.index-slider__item img {
  max-height: 100%;
  margin-bottom: 10px;
}

.index-slider__inner {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.index-slider__inner p {
  margin-bottom: 10px;
}

.index-slider__title {
  text-transform: uppercase;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.index-slider__next, .index-slider__prev {
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 25px;
  content: "";
  margin-top: -12px;
  z-index: 10;
  cursor: pointer;
  transition: @transition;
}

.index-slider__next {
  background: url("../images/arrows/index-right-arrow.svg") 100% 50% no-repeat;
  right: 0;

  &:hover {
    background-image: url("../images/arrows/index-right-arrow-hover.svg");
  }
}

.index-slider__prev {
  background: url("../images/arrows/index-left-arrow.svg") 0 50% no-repeat;
  left: 0;

  &:hover {
    background-image: url("../images/arrows/index-left-arrow-hover.svg");
  }
}

/* - - - - - - - - - - - - partners - - - - - - - - - - - - */
.partners {
  opacity: .99;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 10px;
}

.partners-slider {
  position: relative;
}

.partners-slider__next, .partners-slider__prev {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  z-index: 10;
  cursor: pointer;
  transition: @transition;
}

.partners-slider__next {
  right: 0;
  background: url("../images/arrows/partners-right-arrow.svg") center no-repeat;

  &:hover {
    background-image: url("../images/arrows/partners-right-arrow-hover.svg");
  }
}

.partners-slider__prev {
  left: 0;
  background: url("../images/arrows/partners-left-arrow.svg") center no-repeat;

  &:hover {
    background-image: url("../images/arrows/partners-left-arrow-hover.svg");
  }
}

.partners-slider__item a {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-slider__item img {
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
}

.partners__title {
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 9px;
  font-weight: 500;
}

.partners__link {
  margin-left: 101px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  font-weight: normal;

  &::before {
    content: "";
    background: url("../images/person.svg") center no-repeat;
    width: 12px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: -19px;
  }
}

/* - - - - - - - - - - - - footer - - - - - - - - - - - - */
.footer {
  height: 56px;
  line-height: 55px;
  font-size: 0.8125rem;
  color: #ffffff;
  font-weight: 500;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  opacity: .99;
  position: relative;
}

.footer__tooltip {
  display: inline;
}

.tooltip-click {
  cursor: pointer;
}

.tooltip-click__inner-wrap {
  height: 0;
  overflow: hidden;
  max-width: 647px;
  padding: 0;
  border-radius: 5px 5px 0 0;
  position: absolute;
  bottom: 0;
  background: #fff;
  color: #3C4858;
  font-size: 13px;
  line-height: 19px;
}

.tooltip-click.active .tooltip-click__inner-wrap {
  height: auto;
  padding: 24px 20px 18px;
}

.tooltip-click__title {
  position: relative;
  padding-right: 18px;
}

.tooltip-click__title::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 7px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
}

.tooltip-click__close {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: url("../images/tooltip-close.svg") center no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

/* - - - - - - - - - - - - popups - - - - - - - - - - - - */
.popup h2 {
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.btn-submit {
  height: 42px;
  line-height: 42px;
  font-weight: bold;
}

/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .aside-nav a {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .aside-callback__link {
    padding-top: 21px;
    padding-bottom: 18px;
  }
}