/************************* Общие стили *************************/
html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
    color: @primary-text-color;
    font-family: 'Geometria', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 1.375rem;
}

h2 {
    font-size: 1.25rem //20px
}

h3 {
    font-size: 1.125rem; //18px
}

h4 {
    font-size: 1rem; //16px
}

.dashed-title {
    h1, h2, h3, h4, h5, h6 {
        position: relative;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            width: 37px;
            height: 3px;
            background: #197AE3;
            bottom: -11px;
            left: 50%;
            margin-left: -18px;
            border-radius: 5px;
        }
    }

    h2 {
        margin-bottom: 30px;
        font-weight: 500;
        line-height: normal;
        font-size: 1.375rem;
        color: @dark-text;
    }
}

.wrapper {
    flex: 1 1 auto;
}

img {
    max-width: 100%;
}

a:not([class]){
    color: @link-blue;
}

input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Geometria', sans-serif;
    font-size: 0.875rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

b {
    font-weight: 500;
}

blockquote {
    font-style: italic;

    &::before {
        content: "“";
    }

    &::after {
        content: "”";
    }
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

ul:not([class]):not([id]) li {
    position: relative;
    list-style: none;
    padding-left: 9px;

    &:after {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        content: "";
        background: #197AE3;
        position: absolute;
        left: 1px;
        top: 9px;
    }
}

.hr {
    height: 1px;
    background: #F4F4F4;
    max-width: 1219px;
    margin: 0 auto;
}

.container {
    max-width: 1263px;
    margin: 0 auto;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
}

.content {
    position: relative;
    min-height: 100vh;
    padding-left: 66px;
}

.wrapper .content.js-aside-hover {
    &::before {
        position: absolute;
        .absolute-stretch;
        background-color: rgba(0,0,0,.65);
        z-index: 400;
    }
}

.btn {
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background: @btn-bg;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: @border-radius;
    transition: @transition;
    width: 100%;
    padding: 0 10px;
}

.btn:hover {
    background: @btn-bg-hover;
}

label.checkbox {
    padding-left: 23px;
    position: relative;
    user-select: none;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url("../images/checbox-clear.png") center no-repeat;
        top: 50%;
        left: 0;
        margin-top: -7px;
    }
    
    &.active::before {
        background-image: url("../images/checbox-checked.png");
    }

    input[type="checkbox"] {
        display: none;
    }
}

.popup {
    display: none;
    padding: 35px 35px 40px;
    color: #3C4858;
}

.clear-gap {
    font-size: 0;
    line-height: 0;
}

.blocked {
    overflow: hidden;
}

.tab {
    cursor: pointer;
    user-select: none;
}
.tab.active {
    cursor: default;
}
.panel {
    display: none;
}
.panel.active {
    display: block;
}

.main-page.fancybox-margin {
    margin-right: 0;
}

.fancybox-lock.main-page .fancybox-overlay {
    overflow: auto;
}

.fancybox-skin {
    border-radius: @border-radius 0 @border-radius @border-radius;
}

.fancybox-close, .aside-feedback__close {
    width: 34px;
    height: 34px;
    top: 0;
    right: -34px;
    background: url('../images/fancybox-close.svg') 50% @btn-bg no-repeat;
    transition: @transition;
    border-bottom-right-radius: @border-radius;
    border-top-right-radius: @border-radius;
    cursor: pointer;
}

.fancybox-close:hover, .aside-feedback__close:hover {
    background-color: @btn-bg-hover;
}

.jspScrollable:focus {
    outline: none;
}

.jspDrag {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}

.jspVerticalBar {
    width: 5px;
    z-index: -1;
}

.jspTrack, .jspVerticalBar {
    background-color: transparent;
}

.jspPane {
    width: 100% !important;}

.select2-container {
    cursor:pointer;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border-color: @link-blue;
    border-radius: 3px;
    font-size: 0;
    line-height: 0;
}

.select2-container--open .select2-dropdown--below {
    top: 8px;
}

.select2-container--open .select2-dropdown--above {
    top: -8px;
}

.select2-dropdown {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: @gray;
    padding-bottom: 10px;
    padding-left: 12px;
    background: none;
}

.select2-results__option {
    padding-left: 36px;
    background: url("../images/checbox-clear.png") 12px 6px no-repeat;
    font-size: 0.875rem;
    color: @dark-text;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f2f3f5;
    color: inherit;
}

.select2-container--classic .select2-results__option[aria-selected="true"] {
    background: url("../images/checbox-checked.png") 12px 6px no-repeat;;
}

.select2-results {
    padding-top: 11px;
    padding-bottom: 12px;
}

.select2-container .select2-search--inline::after {
        position: absolute;
        content: "";
        border-style: solid;
        border-width: 5px 4.5px 0 4.5px;
        border-color: #3c4858 transparent transparent transparent;
        top: 16px;
        right: 17px;
    }

.select2-selection__rendered {
    outline: none;
}

.select2-container--classic .selection {
    .select2-selection--single {
        background: transparent;
        height: 39px;
        border-color: #CCD3DB;
        border-radius: 3px;

        .select2-selection__arrow {
            background: #E6EAF0;
            border-left: 1px solid #CCD3DB;
            width: 38px;
            height: 37px;

            b {
                border-top-color: #8F9CAE;
            }
        }

        .select2-selection__rendered {
            padding-left: 3px;
            padding-right: 40px;
            text-align: center;
            line-height: 37px;
            font-size: 0.875rem;
        }
    }
}

.select2-container--classic.select2-container--open.select2-container--below .selection .select2-selection--single {
    background: transparent;
    border-radius: 3px;
    border-bottom: 1px solid #CCD3DB;
}

.select2-container--classic.select2-container--open.select2-container--above .selection .select2-selection--single {
    background: transparent;
    border-radius: 3px;
    border-top: 1px solid #CCD3DB;
}

.select2-container--classic.select2-container--open .selection .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 4px 0 4px;
    border-color: #8F9CAE transparent transparent transparent;
}

.fancybox-nav {
    width: 50px;

}

.fancybox-prev {
    left: -150px;
}

.fancybox-next {
    right: -150px;
}

.fancybox-nav span {
    visibility: visible;
    background: none;
    width: 18px;
    height: 34px;
    margin-top: -17px;
}

.fancybox-next span {
    background: url("../images/arrows/fancybox-right-arrow.svg") center no-repeat;
}

.fancybox-prev span {
    background: url("../images/arrows/fancybox-left-arrow.svg") center no-repeat;
}

.noUi-target {
    border: none;
    box-shadow: none;
    border-radius: 4px;
}

.noUi-horizontal {
    height: 4px;
    margin-bottom: 50px;
}

.noUi-connects {
    background: rgba(255,255,255,0.7);
}

.noUi-connect {
    background: #009EEB;
}

.noUi-target {
    background: transparent;
}

.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    background: #197AE3;
    box-shadow: none;
    border-width: 4px;
    border-color: #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &::before, &::after {
        display: none;
    }
}

.noUi-pips-horizontal {
    padding: 0;
    left: 16px;
    width: auto;
    right: 26px;
    height: 36px;
    top: 0;

}

.noUi-marker-horizontal.noUi-marker {
    display: none;
}

.noUi-value {
    font-size: 1rem;
    color: #fff;
}

.slick-dots li::after {
    display: none;
}

