/************************* Общие стили *************************/
html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
    color: @primary-text-color;
    font-family: Muller, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.wrapper {
    flex: 1 1 auto;
}

img {
    max-width: 100%;
}

//.slick-slide img {
//    max-width: 100%;
//}

.container {
    max-width: 1219px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0 auto;
}