@media (max-width: 1041px) {
  .aside-nav ul {
    left: 0 !important;
  }

  .moved.aside {
    width: 280px;
  }

  .overlay-mask::before,
  .aside__logo-wrap {
    display: none;
  }

  .moved .aside-nav__txt, .moved .aside-callback__txt {
    display: initial!important;
  }
}